<h1> {{title}}</h1>
<h1>hello {{personName}}</h1>
<!-- 
<img [src]="imgScr">

<p [innerText]="title"></p>

<p [class]="class">hi</p>
<br>
<br>
<input [placeholder]="'hamafda'" value="fds1" [type]="showpassword ? 'test' : 'password'" #inputEl>
<input [placeholder]="'hamafda'" value="fds2" [type]="showpassword ? 'test' : 'password'" #inputEl>
<input [placeholder]="'hamafda'" value="fds3" [type]="showpassword ? 'test' : 'password'" #inputEl> -->
 <!-- <p class="test2"  [class.test2 ][class]="showpassword? 'test2':'' " [ngClass]="{'show_password':showpassword}"
   (click)="'showpassword != showpassword'">show
 </p> -->
 <!-- <button (click)="testButton(inputEl)">testButton</button>
<p (click)="showpassword =!showpassword">show</p> 
<div [style]="'background: url(' +imgScr+') ; width:40px ; height:60px;'"></div>

 
    <div [ngSwitch]='number'>
      <div *ngSwitchCase="1">1</div>
      <div *ngSwitchCase="2">2</div>
      <div *ngSwitchCase="3">3</div>
      <div *ngSwitchCase="4">4</div>
      <div *ngSwitchDefault>5</div>
    </div>

    <div *ngIf="showpassword; else templateEX">show password true</div>
  
    <ng-template #templateEX>
  <div >show password false</div>
    </ng-template> -->